# Virtual environment
venv/
.env/

.env

# Python
__pycache__/
*.pyc

# Logs
*.log
logs/

#Eval Results
*.json
data/evaluation/results/

# Chroma DB (optional)
chroma_db/

# OS
.DS_Store

# Streamlit
.streamlit/
