langchain
langchain-community
langchain-core
chromadb
sentence-transformers
ollama
pypdf
packaging>=23.2,<24.0
rank-bm25
streamlit
langchain
langgraph
langchain-ollama
langsmith
langfuse
python-dotenv
langchain-chroma
