langchain
langchain-community
langchain-core
chromadb
sentence-transformers
ollama
pypdf
packaging>=23.2,<24.0
rank-bm25
streamlit
fastapi==0.141.1
uvicorn==0.48.0
langgraph
langchain-ollama
langsmith
langfuse
python-dotenv
langchain-chroma
langchain_huggingface
slowapi
